<!-- Created by PhpStorm. User: 大漠孤颜值 Date: 2019/1/22 Time: 下午2:18 -->
{extend name="public/base" /}
{block name="css"}
	{css href="/static/css/testPaper.css" /}
{/block}
{block name="logo"}{/block}
{block name="menu"}{/block}
{block name="left"}{/block}

{block name="main"}
	<div class="m-content">
		<div class="frame">
			<h4>一、选择题</h4>
			<div class="max-block">
				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：A</h6></div>
					<ul>
						<li>
							<span class="select"><input type="radio" name="one" /><bold>A</bold></span>
							<span>1999年</span>
						</li>
						<li>
							<span class="select"><input type="radio" name="one" /><bold>B</bold></span>
							<span>1989年</span>
						</li>
					</ul>
				</div>

				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：A</h6></div>
					<ul>
						<li>
							<span class="select"><input type="radio" name="one" /><bold>A</bold></span>
							<span>1999年</span>
						</li>
						<li>
							<span class="select"><input type="radio" name="one" /><bold>B</bold></span>
							<span>1989年</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="frame">
			<h4>二、多选题</h4>
			<div class="max-block">
				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：AB</h6></div>
					<ul>
						<li>
							<span class="select"><input type="checkbox" name="one" /><bold>A</bold></span>
							<span>1999年</span>
						</li>
						<li>
							<span class="select"><input type="checkbox" name="one" /><bold>B</bold></span>
							<span>1989年</span>
						</li>
					</ul>
				</div>

				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：A</h6></div>
					<ul>
						<li>
							<span class="select"><input type="checkbox" name="one" /><bold>A</bold></span>
							<span>1999年</span>
						</li>
						<li>
							<span class="select"><input type="checkbox" name="one" /><bold>B</bold></span>
							<span>1989年</span>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="frame">
			<h4>三、判断题</h4>
			<div class="max-block">
				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：正确</h6></div>
					<ul>
						<li>
							<span class="select"><input type="radio" name="one" /></span>
							<span>正确</span>
						</li>
						<li>
							<span class="select"><input type="radio" name="one" /></span>
							<span>错误</span>
						</li>
					</ul>
				</div>

				<div class="min-block">
					<div class="tit"><h5>1. 遵义会议是哪年召开</h5><h6>答案：错误</h6></div>
					<ul>
						<li>
							<span class="select"><input type="radio" name="one" /></span>
							<span>正确</span>
						</li>
						<li>
							<span class="select"><input type="radio" name="one" /></span>
							<span>错误</span>
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
{/block}

{block name="footer"}{/block}