{include file="public/header" title="$title" /}
<div>
	<form id="loginForm" action="#">
		<ul>
			<li>账号：<input type="text" name="email"></li>
			<li>密码：<input type="password" name="pwd"></li>
			<li><input type="submit"></li>
		</ul>
	</form>

</div>
{include file="public/footer" /}
<script type="text/javascript">
$(document).ready(function () {
	$('#loginForm').submit(function () {
		$param = $('#loginForm').serialize();
		login($param);
		return false;
	});
	function login($param) {
		$.ajax({
			type: "POST",//方法类型
			dataType: "json",//预期服务器返回的数据类型
			url: "/user/login" ,//url
			data: $param,
			success: function (result) {
				console.log(result);//打印服务端返回的数据(调试用)
				if (String(result.code) === "200") {
					window.location.href='/';
				} else {
					alert(result.message);
				}

			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				// console.log(XMLHttpRequest);
				// console.log(textStatus);
				// console.log(errorThrown);
				alert(errorThrown);
			}
		});
	}
});
</script>
