<!-- Created by PhpStorm. User: 大漠孤颜值 Date: 2021/4/20 Time: 下午3:40 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<script type="application/javascript" src="__JS__/public/jquery-1.8.3.min.js"></script>
</head>
<body>
<form action="">
	<ul>
		<li>
			<label>昵称：</label>
			<input type="text" name="nickname">
		</li>
		<li>
			<label>密码：</label>
			<input type="password" name="pwd">
		</li>
		<li>
			<label>邮箱：</label>
			<input type="text" name="email">
		</li>
		<li>
			<label>验证码：</label>
			<input type="text" name="verifyCode">
		</li>
		<li>
			<label></label>
			<input type="submit" value="注册">
		</li>
	</ul>
</form>
</body>
</html>
<script type="application/javascript" src="__JS__/userRegister.js"></script>